<a href="https://colab.research.google.com/github/Saifyaseen20255/Data-mining/blob/main/python_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

simple viribles

In [5]:
a =10
b =5
sum=a+b
difference=a-b
prodact=a*b
division=a/b

print("Sum:",sum)
print("difference:",difference)
print("prodact:",prodact)
print("division:",division)

Sum: 15
difference: 5
prodact: 50
division: 2.0

In [8]:
print(f"the sum of the two numbers{a},{b}is{sum}")

the sum of the two numbers10,5is15

In [11]:
x=13//2
print(x)
y=13%2
print(y)

6
1

In [ ]:
#Boolean variables and comparisons
x=10
y=5

is_grater=x>y
is_equal=x==y
is_not_equal=x!=y

print("is x grater than y:",is_grater)
print("is x equal y?:",is_equal)
print("is x not equal to y?:",is_not_equal)

In [12]:
#variable assignment
name="alaa"
age=55
is_professor=True

print("Name:",name)
print("Age:",age)
print("Is professor:",is_professor)

Name: alaa
Age: 55
Is professor: True

In [24]:
#defining and using a function
def greet(ALaa):
    return f"Hello,{name}!"

message=greet("alaa")
print(message)

Hello,alaa!

In [26]:
def add_numbers(a,b):
    return a+b

result=add_numbers(a,b)
print("Result of addition:",result)

Result of addition: 15